header {
  background-color: #fff;
  padding: 0;
  border: 1px solid #e72929;
}

a {
  color: #af1313;
}

a:hover {
  background: #e72929;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-weight: bold;
  padding: 1em; /* 1em ==> 16px*/
}

nav ul {
  list-style-type: none;
  margin: 0;
}
nav ul li a {
  padding: 1em;
  display: inline-block;
}
